{% extends 'admin/base.html.twig' %}
{% block title %}
	modification d'utilisateur !
{% endblock %}

{% block body %}

	<p>{{usr.username}}</p>
	<p>{{usr.email}}</p>
	<p>{{usr.role}}</p>


	{{form_start(form)}}

	{#	{{ form_row(form.username) }}  #}


	{{ form_row(form.role, {'role': 'role'}) }}
	<button class="btn btn-warning" type="submit">Editer
	</button>

	{{form_end(form)}}

{% endblock %}
