{% extends 'admin/base.html.twig' %}

{% block body %}


	{% if  not app.user%}
		<p>vous devez se connecter</p>

	{% elseif  app.user.role == 'ROLE_ADMIN' %}

		<div class="container-fluid" >
	<h2>{{ form_title }}</h2>
	<br>
	<br>

		<div class="row">
			  <div class="col-md-1">
			  </div>

			<div class="col-md-6 offset-md-2">
			<form >
			{{form_start(formulaire)}}

			<div class="form-group">
				{{ form_label(formulaire.nom) }}
				{{ form_widget(formulaire.nom , { 'attr': { 'placeholder': 'nom du projet...' ,'class': 'form-control'} } ) }}
			</div>
			<div class="form-group">
				{{ form_label(formulaire.description) }}
				{{ form_widget(formulaire.description, { 'attr': { 'placeholder': 'description du projet...','class': 'form-control' } } ) }}
			</div>
			<div class="form-group">
				{{ form_label(formulaire.image) }}
				{{ form_widget(formulaire.image, { 'attr': { 'placeholder': 'image...' ,'class': 'form-control'} } ) }}
			</div>			
			<div class="form-group">
				{{ form_label(formulaire.date_creation) }}
				{{ form_widget(formulaire.date_creation, { 'attr': { 'placeholder': 'date creation...','class': 'form-control' } } ) }}
			</div>
			<div class="form-group">
				{{ form_label(formulaire.statut) }}
				{{ form_widget(formulaire.statut, { 'attr': { 'placeholder': 'statut...','class': 'form-control' } } ) }}
			</div>
 			 <div class="form-group ">
				{{ form_label(formulaire.technologies) }}

				{{ form_widget(formulaire.technologies, { 'attr': { 'placeholder': 'technologies...','class': 'form-control' } } ) }}
			</div>
			<div class="form-group">
				{{ form_label(formulaire.lien_github) }}
				{{ form_widget(formulaire.lien_github, { 'attr': { 'placeholder': 'lien...','class': 'form-control' } } ) }}
			</div>
			<div class="">
			<button type="submit" class="btn btn-dark btn-block">Valider</button>
			</div>
			
			{{form_end(formulaire)}}
</form>
			</div>
		</div>
		
</div>

		

			<div>
			{% elseif  app.user.role == 'ROLE_USER' %}
				<p>vous devez étre administrateur pour avoir accee</p>


		{% endif  %}
	{% endblock %}
