{% extends 'admin/base.html.twig' %}

{% block body %}


	{% if  not app.user%}
		<p>vous devez se connecter</p>

	{% elseif  app.user.role == 'ROLE_ADMIN' %}

	<h1>{{ form_title }}</h1>

<form>
			{{form_start(formulaire)}}

			{# {{form_widget(formulaire)}} #}

			<div class="form-group">

				{{ form_row(formulaire.nom, { 'attr': { 'placeholder': 'nom du projet...' } } ) }}</div>

			<div class="form-group">

				{{ form_row(formulaire.description, { 'attr': { 'placeholder': 'description du projet...' } } ) }}</div>
			<div class="form-group">
				{{ form_row(formulaire.image, { 'attr': { 'placeholder': 'image...' } } ) }}
				</div>
				
			<div class="form-group">
				{{ form_row(formulaire.date_creation, { 'attr': { 'placeholder': 'date creation...' } } ) }}</div>
			<div class="form-group">
				{{ form_row(formulaire.statut, { 'attr': { 'placeholder': 'statut...' } } ) }}</div>
			<div class="form-group">
				{{ form_row(formulaire.technologies, { 'attr': { 'placeholder': 'technologies...' } } ) }}</div>
			<div class="form-group">
				{{ form_row(formulaire.lien_github, { 'attr': { 'placeholder': 'lien...' } } ) }}</div>
			<div class="form-group">
			<button type="submit" class="btn btn-success">ajouter</button>
		</div>
			{{form_end(formulaire)}}
</form>

	<hr>

			<hr>
		

			<div>
			{% elseif  app.user.role == 'ROLE_USER' %}
				<p>vous devez étre administrateur pour avoir accee</p>


		{% endif  %}
	{% endblock %}
